*/* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }*/


.navbar a {
    color: #152158;
    height: 50px;
    font-weight: 500;
    font-size: larger;
}

/*Hero/Jumbotron Section*/

.jumbotron {
    text-align: center;
    color:aliceblue;
}

.jumbotron p {
    opacity: 0.7;
}

.gradientBackground {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    height: 300px; /*banner image height reduced as auto occupies too much space*/
}

/*Work Section*/

h2 {
    margin-bottom: 1.5rem;
}

.row{
    padding: 5px 10px 5px 10px;
}

.card-img-top { 
padding: 10px; /*images padding added so they don't touch the card border at the top*/
border-radius: 3%; /*small radius added to match card rounded edges*/
}

/*Skills section*/

.contentHeading {
    margin: 20px;
}

.carousel-item { /*Carousel size and image too big, height changed to fit page*/
    height: 750px;
}

.credit {
    margin: 1.5rem;
}

/*Contact Me section*/

.contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    background: url(../images/email1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Footer section*/

footer a {
    text-decoration: none;
}

footer a:hover {   /*footer hyperlink hover effect*/
  color: yellowgreen;
  background-color:yellow;
}

.btn:hover {
 box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.24);
}

#footer {
    background-color: #152158;
}